.App {
  text-align: center;
  font-family: Helvetica, sans-serif;
}

.login-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  padding-bottom: 25px;
  background-color: #5191C7;
  box-shadow: 2px 3px 3px rgba(0, 0, 0, 0.267);
  width: 20%;
  margin: auto;
  margin-top: 50px;
  border-radius: 7px;
  color: aliceblue;
}

.login-wrapper td {
  margin: 20px;
  padding: 5px;
}

.login-wrapper h2 {
  margin: 20px;
}

.main-wrapper {
  width: 720px;
  margin-left: auto;
  margin-right: auto;
}

.navbar {
  width: 100%;
  height: 60px;
  background-color: #5191C7;
  color: aliceblue;
  box-shadow: 2px 3px 3px rgba(0, 0, 0, 0.267);
  border-radius: 7px;
  padding: 5px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 5px;
}

.navbar a {
  color: aliceblue;
  text-decoration: none;
  font-weight: bold;
  margin: 5px;
}

.navbar tr td {
  margin: 5px;
}

.followingList {
  padding: 15px;
  text-align: center;
}

.postList {
  width: 100%;
}

.newpost-wrapper {
  background-color: antiquewhite;
  padding: 15px;
  background-color: #5191C722;
  border-radius: 7px;
  width: 100%;
}

.newpost-wrapper button {
  width: 50%;
  background: none;
  border: none;
  margin-top: 10px;
}

.newpost-wrapper button:hover {
  background: #5191C744;
  border-radius: 5px;
}
